body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*---------------------------------------------------------------------------*/

header{
    display: flex ;
    justify-content: center;
}

nav{
    display:flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    width: 80%;
    height: 60px;

    border: 1px solid rgb(80, 80, 80);
    border-radius: 30px;

    background-color: rgba(51, 51, 51, 0.7);
    backdrop-filter: blur(10px);

    margin-top : 30px ;
    top: 0;

    z-index: 100;
}

.nav_item{
    padding: 10px 30px;
    color: rgb(255, 255, 255);

    font-size: 18px;
    text-decoration: none;
}

.nav_item:hover {
    text-shadow: white 0px 0px 20px;
}

.ancre-nav60 {
    scroll-margin-top: 60px;
}

.ancre-nav {
    scroll-margin-top: 120px;
}

/*---------------------------------------------------------------------------*/

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 80vh;
    
    font-size: 150px;
}

/*---------------------------------------------------------------------------*/

.case {
    display: flex;
    align-items: center;

    width: 80%;
    margin: 30px auto;

    border: 1px solid rgb(80, 80, 80);
    border-radius: 30px;

    background-color: rgba(51, 51, 51, 0.7);
    backdrop-filter: blur(10px);
}

/*---------------------------------------------------------------------------*/

.projet_img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin: 20px;
}

/*---------------------------------------------------------------------------*/

.titre {
    display: flex;
    align-items: center;

    width: 80%;
    margin: 80px auto 0px auto;

    font-size: 40px;
}

/*---------------------------------------------------------------------------*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-size: 20px;
}

.contact_item {
    display: flex;
    flex-direction: row;
}

.contact_item img {
    margin : 0px 30px;
}








.cv {
    display: flex;
    align-items: center;

    width: 60%;
    margin: 30px auto;
}

#cv {
    width: 100%;

    border: 1px solid rgb(80,80,80);
    border-radius: 30px;
}

#bouton {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;

    text-decoration: none; 

    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);

    padding: 8px 15px;
}

#bouton:hover {
    box-shadow: white 0px 0px 20px;

    font-size: 18px;
}

.cote {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}